* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*:Background Color for entire body of webpage:*/
body {
  background-color: #d9dcd6;
}

/*:Font and background for header bar:*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/*:font for main h1 element in header:*/
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/*:font for SEO portion of company name:*/
.header h1 .seo {
  color: #d9dcd6;
}

/*:navigation pane on header:*/
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/*:navigation list:*/
.header nav ul {
  list-style-type: none;
}

/*:navigation text:*/
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/*:links:*/
a {
  color: #ffffff;
  text-decoration: none;
}

/*:main image:*/
.figure {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

/*:main content:*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/*:main content boxes:*/
.content-style {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*:main content images:*/
.content-style img {
  max-height: 200px;
}

/*:main content headers:*/
.content-style h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/*:float left:*/
.float-left {
  float: left;
  margin-right: 25px;
}

/*:paragraph:*/
p {
  font-size: 16px;
}

/*:float right:*/
.float-right {
  float: right;
  margin-left: 25px;
}

/*:side bar:*/
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
}

/*:side bar sections:*/
.benefit-style {
  margin-bottom: 32px;
  color: #ffffff;
}

/*:side bar headers:*/
.benefit-style h3 {
  margin-bottom: 10px;
  text-align: center;
}

/*:side bar images:*/
.benefit-style img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/*:footer:*/
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/*:footer h2 elements:*/
.footer h2 {
  font-size: 20px;
}
