* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Background Color for entire body of webpage*/
body {
  background-color: #d9dcd6;
}

/*Font and background for header bar*/
.header {
  padding: 1.25em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/*font for main h1 element in header*/
.header h1 {
  display: inline-block;
  font-size: 3em;
}

/*font for SEO portion of company name*/
.header h1 .seo {
  color: #d9dcd6;
}

/*navigation pane on header*/
.header nav {
  padding-top: 1em;
  margin-right: 1.25em;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.25em;
}

/*navigation list*/
.header nav ul {
  list-style-type: none;
}

/*navigation text*/
.header nav ul li {
  display: inline-block;
  margin-left: 1.5em;
}

/*links*/
a {
  color: #ffffff;
  text-decoration: none;
}

/*main image*/
.figure {
  width: 100%;
  margin-bottom: 1.5em;
  background-size: cover;
  background-position: center;
}

/*main content*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 1.25em;
}

/*main content boxes*/
.content-style {
  margin-bottom: 1.25em;
  padding: 3.12em;
  height: 18.75em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/*main content images*/
.content-style img {
  max-height: 12.5em;
}

/*main content headers*/
.content-style h2 {
  margin-bottom: 1.25em;
  font-size: 2.25em;
}

/*float left*/
.float-left {
  float: left;
  margin-right: 1.5em;
}

/*paragraph*/
p {
  font-size: 1em;
}

/*float right*/
.float-right {
  float: right;
  margin-left: 1.5em;
}

/*side bar*/
.benefits {
  margin-right: 1.25em;
  padding: 1.25em;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
}

/*side bar sections*/
.benefit-style {
  margin-bottom: 2em;
  color: #ffffff;
}

/*side bar headers*/
.benefit-style h3 {
  margin-bottom: 0.625em;
  text-align: center;
}

/*side bar images*/
.benefit-style img {
  display: block;
  margin: 0.625em auto;
  max-width: 9.375em;
}

/*footer*/
.footer {
  padding: 1.875em;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/*footer h2 elements*/
.footer h2 {
  font-size: 1.25em;
}
